* {
    font-family: 'Lato', sans-serif;
}

div {
    margin: 2px;
}

li {
    list-style-type: none
}

h1 {
    padding: 5px
}

h4 {
    padding: 5px
}

p {
    padding: 5px
}

canvas#coordinate-system {
    border: 1px solid #000000;
    width: 100%;
}

.party-container {
    width: max-content;
    padding: 1%
}

#coordinate-system-row {
    padding: 20px;
    min-width: 35%;
}

.main-row {
    width: 100%
}

.btn-secondary {
    margin: 5px
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #f5f5f5;
}

.footer div {
    margin-right: 0px;
}

.footer div div {
    padding-left: 40px;
    padding-right: 40px
}

#additional-results {
    padding: 20px
}

#election-results {
    min-width: 30%;
}

.quote {
    font-style: italic;
    margin: auto;
}

.head-row {
    width: 100%
}